centralspy.appelpitje.dev {
    handle /downloads/* {
        uri strip_prefix /downloads
        root * /opt/mohpa
        file_server
    }
    handle {
        reverse_proxy api-service:3000
    }
}
